@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer screen-size {
  .screen-size {
    margin: 0 auto !important;
    max-width: 1400px;
    padding: 0 20px !important;
  }
}
